@use "vars";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  // font-family: vars.$system-font;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}

body {
  @include vars.box-sizing;
  background: vars.$background-color;
  transition: all 0.3s ease;

  display: grid;
  margin: 0 auto;
  max-width: vars.$page-width;
  grid-template-areas:
    // "header header"
    "main aside"
    "footer footer";
}

main,
aside {
  padding: 1rem;
}

main {
  grid-area: main;
  background: #d4f2c4;
}

aside {
  // max-width: $sidebar-width;
  grid-area: aside;
  background: #81cfd9;
}

footer {
  grid-area: footer;
  text-align: center;
  // margin-top: auto;
}
