@use "vars";

.wrapper {
  // margin: 0 auto;
  // margin: auto 0;
  display: grid;
  // min-height: 98vh;
  // grid-template-columns: auto;
  grid-template-rows: minmax(vars.$sidebar-width, 10%) 1fr;
  // grid-template-rows: auto;
  // grid-template-columns: minmax(vars.$sidebar-width, 22%) 1fr;
}

// Sidebar
.sidebar-title {
  color: vars.$font-color;
  margin-top: initial;
}

.sidebar-nav {
  list-style-type: none;
  padding-left: 1rem;
  line-height: 1.75;
}

// Table of Contents
.table-of-content {
  list-style-type: circle;
  font-size: vars.$font-size-small; //16px
  line-height: 1.75;
  // padding-left: 2rem;
  // padding-right: 0.5rem;
}
