// Custom CSS goes here
@use "vars";

// position: fixed; for the sidebar
@media (min-width: 600px) {
  .sidebar {
    width: calc(vars.$sidebar-width - 1rem);
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 1rem 0;
    // top: 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: calc(100vh - 108px);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  @-moz-document url-prefix() {
    .sidebar {
      scrollbar-width: none;
    }
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }
}

.sublist {
  list-style-type: none;
  list-style: none;
  background: inherit;
  margin-left: -1.5rem;
  margin-right: 0.1rem;
  // padding: 0;

  li::before {
    content: "‣";
  }
}

details {
  padding: 0.5rem 0.5rem 0;

  ul a {
    text-decoration: none;
    color: vars.$font-color;
  }
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  cursor: pointer;
  list-style: none;
}

details[open] summary {
  margin-bottom: 0.5em;
}
