@use "vars";
// Custom CSS goes here

.post-title {
  margin-top: 0;
}

.breadcrumb-container {
  margin-bottom: 1rem;
}

.base-list {
  list-style-type: circle;
  & li {
    padding-bottom: 0.5rem;
  }
}

.post-description {
  padding-bottom: 1rem;
}

header {
  position: relative;
  padding-left: 0.75rem;
  border-bottom: solid 1px grey;
}

.site-title {
  margin: 0.5rem;
}
