// Large Screens
@media only screen and (min-width: 64rem) {
  .sidebar {
    color: greenyellow;
  }
}

// Medium Screens
@media only screen and (min-width: 25.063rem) and (max-width: 64rem) {
  .sidebar {
    color: magenta;
  }
}

// Small Screens
@media only screen and (max-width: 25rem) {
  .sidebar {
    color: aqua;
  }
}
