@use "vars";

.pagination {
  grid-area: pagination;
  text-align: center;
  // border-top: 0.5px solid vars.$border-color;
  position: relative;
  // margin-top: min(2rem);
  // margin-top: max(12rem);
  // margin-bottom: 1rem;
  padding: 1rem;

  span {
    font-size: 1.1rem;
  }

  .top {
    @include vars.transition(all 0.3s ease-out);
    color: vars.$font-color;
    font-size: 1.1rem;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include vars.transition(all 0.3s ease-out);
    color: vars.$font-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
