@use "vars";

// Sidebar
.sidebar p {
  font-size: 14px; //16px
}

.sidebar-nav-title,
.sidebar-title {
  color: vars.$font-color;
  margin-bottom: 0;
}

.sublist-nav {
  list-style-type: none;
  padding-left: 1.2rem;
  margin-top: 0.5rem;
}

.sublist-footer {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.5rem;
}
.sublist-toc {
  font-size: 14px; //16px
  list-style-type: disc;
  padding-left: 1.2rem;
  // padding-right: 0.5rem;
}
