// @use "variables" as vars;
@media print {
  * {
    background: rgba(0, 0, 0, 0) !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2 {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}

// Large Screens
@media screen and (min-width: 64em) {
  .head-links {
    margin-left: 25%;
    padding-left: 1rem;
    width: 50%;
  }

  .half-offset {
    margin-left: 25%;
    width: 50%;
  }

  .full-width {
    width: 100%;
  }

  .large-centered.columns {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}
// Medium Screens
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .head-links {
    margin-left: 1rem;
    padding-left: 0.5rem;
  }
}
// Small Screens
@media only screen and (max-width: 40em) {
  .head-links {
    margin-left: 1rem;
    padding-left: 0.5rem;
  }

  .social-links li {
    display: inline-block;
    padding-right: 1em;
  }
}
