// Store all your variables in here.
// Add `@use "variables" as vars;` at the top of a stylesheet and you may reference the variables found here by using `vars.$variable-name`.
$root-font-family: "Bitter", serif;
$link-color: brown;
$link-color-hover: darkgreen;

// $border-color: #e5e5e5;
// $large-breakpoint: 38em;
// $large-font-size: 20px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin bp-large {
  @media only screen and (min-width: 64.063em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 40em) {
    @content;
  }
}
