{% extends "index.html" %}

<!-- Layout for the 404 error page. -->
{% block content %}
<article class="post1">
  <header>
    <h1>404: Page not found</h1>
  </header>
  <div class="content">
    The page or project you're looking for cannot be found!<br><br>
    Have a 404 derg instead:
  </div>
  <pre class="dragon">
                           ^\    ^
                          / \\  / \
                         /.  \\/   \      |\___/|
      *----*           / / |  \\    \  __/  O  O\
      |   /          /  /  |   \\    \_\/  \     \
     / /\/         /   /   |    \\   _\/    '@___@
    /  /         /    /    |     \\ _\/       |U
    |  |       /     /     |      \\\/        |
    \  |     /_     /      |       \\  )   \ _|_
    \   \       ~-./_ _    |    .- ; (  \_ _ _,\'
    ~    ~.           .-~-.|.-*      _        {-,
     \      ~-. _ .-~                 \      /\'
      \                   }    404     {   .*
       ~.                 '-/        /.-~----.
         ~- _             /        >..----.\\\
             ~ - - - - ^}_ _ _ _ _ _ _.-\\\
    </pre>
</article>
{% endblock content %}