<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" itemprop="about" content="{{config.description}}">
  <title>{{ config.title }}</title>
  {% include "partials/styles.html" %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap" />
</head>

<body>

  <section class="wrapper">
    {% include "partials/sidebar.html" %}

    {# <main class="box"> #}
      <main>
        {% block content %}
        {% endblock content %}
      </main>
  </section>

  {% include "partials/footer-main.html" %}
</body>

</html>