<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" itemprop="about" content="{{config.description}}">
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}">
</head>

<body>
  <aside id="sidebar-left" class="box sidebar sidebar-left">
    <a href="{{ config.base_url | safe }}">
      <h1 class="site-title">{{ config.title }}</h1>
    </a>
    {% include "partials/sidebar-nav.html" %}
  </aside>

  <main class="box">
    {% if section %}
    {% include "partials/breadcrumbs.html" %}
    {% if section.title %}
    <h2>{{ section.title }}</h2>
    {% endif %}
    {% if section.description %}
    <p>{{ section.description | safe }}</p>
    {% endif %}
    {% endif %}

    {% if page %}
    {% include "partials/breadcrumbs.html" %}
    <h2>{{ page.title }}</h2>
    {% endif %}

    {% block content %}
    {% endblock content %}
  </main>

  {% if page %}
  <aside id="sidebar-right" class="box sidebar sidebar-right">
    {# <h2 class="sidebar-title">{{ page.title }}</h2> #}
    <p>{{ page.description }}</p>
    {% if page.toc %}
    {% include "partials/toc.html" %}
    {% endif %}
  </aside>
  {% endif %}

  {% include "partials/footer.html" %}

  <button id="goToTopBtn" onclick="goToTop()" title="Go to top">↑</button>
  {# <button id="goToTopBtn" onclick="goToTop()" title="Go to top">↑ Top</button> #}
  <script>
    // Show the button when the user scrolls down 20px from the top
    window.onscroll = function () {
      var goToTopBtn = document.getElementById("goToTopBtn");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        goToTopBtn.style.display = "block";
      } else {
        goToTopBtn.style.display = "none";
      }
    };

    // Scroll smoothly to the top when the button is clicked
    function goToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
  </script>

</body>

</html>