<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" itemprop="about" content="{{config.description}}">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}">
    <style>
        body {
            max-width: 700px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            row-gap: 1rem;
            grid-template-areas:
                "header"
                "main"
                "footer";
        }
    </style>
</head>

<body>
    <header>
        <a class="site-title-link" href="{{ config.base_url | safe }}">
            <h1 class="site-title">{{ config.title }}</h1>
        </a>
        {% include "partials/site-nav.html" %}
    </header>

    <main class="box">
        {% if section %}
        {# {% include "partials/breadcrumbs.html" %} #}
        {% if section.title %}
        <h2>{{ section.title }}</h2>
        {% endif %}
        {% if section.description %}
        <p>{{ section.description | safe }}</p>
        {% endif %}
        {% endif %}

        {% block content %}
        {{ section.content | safe }}
        {% endblock content %}
    </main>

    {% include "partials/footer.html" %}
</body>

</html>